:root {
    --vermelho: #E50914;
    --preta: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*elementos base*/

header {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.4s ease;
}

header.sticky {
    transition: all 0.4s ease;
    opacity: 1;
    position: fixed;
    z-index: 10;
}

body {
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: whitesmoke;
}

.navbar {
    background-color: var(--preta);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-top: 2%;
    margin-left: 40%;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 130%
}

.collapse {
    margin-left: 3%;
}

.nav-item {
    font-size: 70%;
    text-decoration: none;
    color: whitesmoke;
}

.nav-item a {
    text-decoration: none;
    color: whitesmoke;
    margin-right: 20px;
}

.nav-item a:hover {
    color: #aaa;
    transition: .3s ease all;
}

.fa-regular {
    margin-top: 130%;
    color: whitesmoke;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

/*inicio*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url('../img/code.jpg');
    height: 750px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .titulo {
    color: whitesmoke;
    margin-left: 6%;
    margin-top: 35%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.filme-principal .descricao {
    color: whitesmoke;
    margin-left: 6%;
    margin-right: 5%;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: whitesmoke;
    padding: 15px 30px;
    margin-right: 15px;
    margin-left: 6%;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: whitesmoke;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.foto {
    margin-top:32%;
    margin-left: 25%;
}


/* competencias */


.comp {
    margin-top: 9%;
    margin-left: 3%;
    margin-bottom: 1%;
    color: whitesmoke;
}

.carrosel-competencias {
    margin-left: 2.3%;
}

.item {
    height: 50%;
    width: 50%;
    margin-left: 0px;
}


/* experiencia */
#experiencias {
    border: none;
    background-color: var(--preta);
}

.exp {
    margin-left: 2.9%;
    color: whitesmoke;
    background: var(--preta); 
}

.card {
    display: block;
    margin-left: 3%;
    width: 40%
}